.footer {
  margin: 15px auto;
  width: 10em;
  padding: 0.5em;
  border: 1px dashed #1b1b1b;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer:hover {
  color: blue;
}
.footer a {
  display: flex;
  justify-content: center;

  align-items: center;
}
.footer .logo {
  width: 1.7em;
  height: 1.7em;
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
  background: #ff093f;
}
.footer img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
