.footer {
  margin: 15px auto;
  width: 10em;
  padding: 0.5em;
  border: 1px dashed #1b1b1b;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer:hover {
  color: blue;
}
.footer a {
  display: flex;
  justify-content: center;

  align-items: center;
}

.footer img {
  margin: 0 5px;
  width: 1.7em;
  border-radius: 50%;
}
